@section CssFiles {
    <environment include="Staging, Production">
        <link type="text/css" rel="stylesheet" href="~/css/bundles/news.min.css" />
    </environment>

    <environment include="Development">
    </environment>
}

@model NewsViewModel

@{
    var newsPhoto = string.Format("data:image/gif;base64,{0}", Model.Photo);
    ViewBag.NewsShareImage = newsPhoto;
    ViewBag.title = Model.Title;
    ViewBag.description = Model.ShortDescription;
}
<style>
    .rightimg {
        float: right;
        margin: 7px 0 7px 70px;
        height: 245px;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="heading adaptive-heading">
                <h2>@Model.Title</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <p>
            <img src="@newsPhoto" class="rightimg">
            @Model.LongDescription
        </p>
    </div>
    <div class="row">
        <div class="ya-share2" data-services="facebook,gplus,viber,telegram" data-description="@Model.ShortDescription" data-image="@newsPhoto" data-title="@Model.Title"></div>
    </div>
</div>


@section JsFiles {

<environment include="Staging, Production">
    <script src="https://yastatic.net/es5-shims/0.0.2/es5-shims.min.js" async="async"></script>
    <script src="https://yastatic.net/share2/share.js" async="async"></script>
</environment>

    <environment include="Development">
    </environment>
}
